/*red colors*/
._0 path {
    fill: none;
    stroke: #ff3300;
}

._1 path {
        fill: none;
        stroke: #cc2900;
    }

._2 path {
        fill: none;
        stroke: #991f00;
    }
    
._3 path {
        fill: none;
        stroke: #661400
;
    }
    
._4 path {
        fill: none;
        stroke: #330a00;
    }
    
._5 path {
        fill: none;
        stroke: #ff5c33;
    }
    
._6 path {
        fill: none;
        stroke: #ff8566;
    }

._7 path {
        fill: none;
        stroke: #ffad99;
    }

._8 path {
        fill: none;
        stroke: #ffd6cc;
    }

._9 path {
        fill: none;
        stroke: #ffebe6;
    }

/*blue colors*/
._10 path {
        fill: none;
        stroke: blue;
    }
._11 path {
        fill: none;
        stroke: blue;
    }
._12 path {
        fill: none;
        stroke: blue;
    }
._13 path {
        fill: none;
        stroke: blue;
    }
._14 path {
        fill: none;
        stroke: blue;
    }
._15 path {
        fill: none;
        stroke: blue;
    }
._16 path {
        fill: none;
        stroke: blue;
    }
._17 path {
        fill: none;
        stroke: blue;
    }
._18 path {
        fill: none;
        stroke: blue;
    }
._19 path {
        fill: none;
        stroke: blue;
    }